  <div class="page-header">
    <h3>Food Items</h3>
  </div>

  <div>
    <div ng-repeat="food in foods | orderBy:'name'" class="food">
      <span class="glyphicon glyphicon-plus-sign"
        ng-click="addEntry(food)"></span>
      <span>
        <%= image_tag "apple.png" %>
<img src="http://www.trumbore.com/images/head.jpg" alt="Description" />
      </span>
      <span style="font-size:20px; margin-left:10px;">
        {{food.name}} ({{food.description}})
      </span>
      <span>
        <a href="#/foods/{{food.id}}">Edit</a>
      </span>
      <span class="glyphicon glyphicon-remove-sign"
        ng-click="deleteFood(food)" style="float:right"></span>
    </div>

    <form ng-submit="addFood()"
      style="margin-top:30px;">
      <h3>Add a new food</h3>

      <div class="form-group">
        <input type="text"
        class="form-control"
        placeholder="Food"
        ng-model="name"></input>
      </div>

      <div class="form-group">
        <input type="text"
        class="form-control"
        placeholder="Description"
        ng-model="description"></input>
      </div>

      <button type="submit" class="btn btn-primary">Create Food Item</button>
    </form>

  </div>
